form {
	display: flex;
	align-items: center;
    margin: 0;
    padding: 0.5em;
    font-family: 'Times New Roman', Times, serif;
    border-top: 3px solid;
    border-bottom: 3px solid;
}

h2 {
    padding: 0.5em;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

h3 {
    padding: 0.5em;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
}