.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(146,166,149);
    color: #f1f1f1;
    font-family: 'Times New Roman', Times, serif;
}

.Title-Subtitle {
    color: #f1f1f1;
}