.Footer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
    background-color: rgb(187,203,219);
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}